/*
 * New Styles
 */
 .overview__side-panel.brand--background,
 .overview-sidebar__header--background {
    background: transparent -webkit-gradient(linear,left top,right top,from(#d50054),color-stop(29%,#e10b49),to(#ff6b00)) 0 0 no-repeat;
    background: transparent linear-gradient(90deg,#d50054,#e10b49 29%,#ff6b00) 0 0 no-repeat;
}

/* Progress */
.legacy-progress-circle__track,
.legacy-progress-circle__runner {
    stroke: transparent;
}

.lesson-progress__tooltip--legacy {
    display: none;
}

/* List */
@media(min-width:600px){
    [data-block-id="cl513xmj0001f3b6uf8gf48u6"] .block-list__list {
        column-count: 2;
    }
}
[data-block-id="cl513xmj0001f3b6uf8gf48u6"] .block-list__checkbox{
    background-image: url(check.svg);
    background-size: contain;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}
[data-block-id="cl513xmj0001f3b6uf8gf48u6"] .block-list__checkbox.block-list__checkbox--checked{
    background-color: transparent!important;
}
[data-block-id="cl513xmj0001f3b6uf8gf48u6"] .block-list__checkbox--checked .block-list__checkbox__icon{
    visibility: hidden;
}
[data-block-id="cl513xmj0001f3b6uf8gf48u6"] .block-list__checkbox__hitarea{
    cursor: default;
    pointer-events: none;
}

/* First accordion */
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__wrapper, 
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__wrapper {
    border: none;
    box-shadow: none;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__content,
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__content {
    border: none;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__item {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__header {
    flex-direction: row-reverse;
    align-items: center;
    border-left: none;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__toggler {
    background: transparent;
    padding: 0;
    color: #fff;     
    font-size: 27px;
    line-height: 1;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    min-width: 16px;
    text-align: center;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__header:hover .blocks-accordion__toggler {
    color: #d50054;
}
[data-block-id="cl5104jwy00033b6q3mc3mmm4"] .blocks-accordion__toggler:before{
    content: '';
    width: 30px;
    height: 30px;
    background: #000;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 8px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Second accordion */
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__item {
    border-top: none;
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__title:before {
    content: '';
    background-image: url(open-book.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__title {
    display: flex;
    align-items: center;
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__title .fr-view,
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__toggler {
    padding-top: 10px;
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__header {
    border: none;
    padding-left: 0;
    padding-top: 0;
}

[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__toggler {
    font-size: 0;
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__toggler:before{
    content: '';
    display: block;
    background-image: url(down-arrow.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transition: ease-in-out 200ms all;    
}
[data-block-id="cl4pw9q4t000n3b6qxfbmi1nn"] .blocks-accordion__item--closed .blocks-accordion__toggler:before{
    transform: none;
}